// https://color.adobe.com/Mexican-Scheme-color-theme-9359348/
$mex: (
  blue: #42A5F5,
  green: #75ce66,
  orange: #da9208,
  pink: #e41670,
  purple: #966fd6,
  red: #ff6666,
  yellow: #d0c722,
);

$wobble-bezier: cubic-bezier(.1,3,.75,0.5);
$normal-bezier: cubic-bezier(.25,1,.5,1);

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  
  @include user-select(none);
  @include transition(all, 0.8s, cubic-bezier(.25,1.5,.5,1), 0s);
  
  i {
    display: block;
    height: 10%;
    width: 100%;
    background-color: white;
    @include border-radius(5%/#{50%});
    @include transition(transform, 0.4s, cubic-bezier(.25,1.5,.5,1), 0s);
    
    &:nth-child(1) {
      margin-top: 25%;
      margin-bottom: 10%;
    }
    
    &:nth-child(2) {
      margin-bottom: 10%;
    }
    
    &:nth-child(3) {
      margin-bottom: 25%;
    }
  }
  
	&.opened {
    @include transform(rotate(90deg));

    i:nth-child(1) {
      @include transform(translateY( 200%) rotate( 45deg));
    }
    i:nth-child(2) {
      opacity: 0;
    }
    i:nth-child(3) {
      @include transform(translateY(-200%) rotate(-45deg));
    }

    &.hover  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 50deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-50deg));
      }
    }

    &.mousedown  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 55deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-55deg));
      }
    }

    &.closing {
    	@include transform(rotate(0));

      i:nth-child(1) {
        @include transform(translateY( 200%));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%));
      }
    }
  }

  &.closed {
    @include transform(rotate(0));

    &.hover {
      i:nth-child(1) {
        @include transform(translateY(-50%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 50%));
      }
    }

    &.mousedown {
      i:nth-child(1) {
        @include transform(translateY(-100%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 100%));
      }
    }

    &.opening {
      i:nth-child(1) {
        @include transform(translateY( 200%));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%));
      }
    }
  }
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 15px;
  opacity: 0;
  
  @include user-select(none);
  @include cursor-grab;
  @include transition(all, 1s, $normal-bezier, 0s);
  @include border-radius(8px);
  
  &.left {
    left: -150%;
  }
  
  &.right {
    left: 150%;
  }
  
  &.focus {
    left: 0;
    opacity: 1;
  }
  
  &.mousedown {
    @include cursor-grabbing;
  }
  
  .card-content {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    
    @include transform(translateY(-50%));
    
    .card-head {
      display: inline-block;
      width: 100%;
      font-size: 3.5em;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 4px solid white;
      
      @include respond-to(phone) { font-size: 2.2em; }
    }
    
    .card-body {
      display: inline-block;
      width: 100%;
      max-width: 960px;
      font-size: 2em;
      text-align: justify;
      padding-top: 15px;
      
      @include respond-to(phone) { font-size: 1.25em; }
    }
  }
}

@mixin contact-card($color) {
  .contact-card {
    .card-content {
      .btn-contact {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        height: 64px;
        background: white;
        margin-top: 15px;
        color: $color;
        
        @include border-radius(8px);
        
        .contact-text-wrapper {
          position: relative;
          width: 100%;
          top: 50%;
          
          @include transform(translateY(-50%));
          
          .contact-text {
            display: inline-block;
            // height: 64px;
            width: 100%;
            font-size: 2em;
            text-align: center;
          }
        }
        
        &.hover {
          background: transparent;
          border: 4px solid white;
          color: white;
        }
        
        &.mousedown {
          border: 4px solid white;
          color: white;
          background: rgba(0,0,0,0.1);
          
          @include transform(translateY(4px));
        }
      }
    }
  }
}
