// https://color.adobe.com/Mexican-Scheme-color-theme-9359348/
$mex: (
  blue: #42A5F5,
  green: #75ce66,
  orange: #da9208,
  pink: #e41670,
  purple: #966fd6,
  red: #ff6666,
  yellow: #d0c722,
);

$wobble-bezier: cubic-bezier(.1,3,.75,0.5);
$normal-bezier: cubic-bezier(.25,1,.5,1);

// Ensure this is in sync with custom.js
$gutter: 15px;

// Aesthetic border radius
$radius: 8px;

// sqrt(2) / 2 plus some change
$inscribed: 17.5%;

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  
  @include user-select(none);
  @include transition(all, 0.8s, cubic-bezier(.25,1.5,.5,1), 0s);
  
  i {
    display: block;
    height: 10%;
    width: 100%;
    background: white;
    @include border-radius(5%/#{50%});
    @include transition(transform, 0.4s, cubic-bezier(.25,1.5,.5,1), 0s);
    
    &:nth-child(1) {
      margin-top: 25%;
      margin-bottom: 10%;
    }
    
    &:nth-child(2) {
      margin-bottom: 10%;
    }
    
    &:nth-child(3) {
      margin-bottom: 25%;
    }
  }
  
	&.opened {
    @include transform(rotate(90deg));

    i:nth-child(1) {
      @include transform(translateY( 200%) rotate( 45deg));
    }
    i:nth-child(2) {
      opacity: 0;
    }
    i:nth-child(3) {
      @include transform(translateY(-200%) rotate(-45deg));
    }

    &.hover  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 50deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-50deg));
      }
    }

    &.mousedown  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 55deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-55deg));
      }
    }

    &.closing {
    	@include transform(rotate(0));

      i:nth-child(1) {
        @include transform(translateY( 200%));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%));
      }
    }
  }

  &.closed {
    @include transform(rotate(0));

    &.hover {
      i:nth-child(1) {
        @include transform(translateY(-50%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 50%));
      }
    }

    &.mousedown {
      i:nth-child(1) {
        @include transform(translateY(-100%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 100%));
      }
    }

    &.opening {
      i:nth-child(1) {
        @include transform(translateY( 200%));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%));
      }
    }
  }
}

.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}

.section-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

a.btn {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  height: 64px;
  background: white;
  
  @include border-radius($radius);
  
  &.hover {
    background: transparent;
    border: 4px solid white;
    // color: white;
  }
  
  &.mousedown {
    border: 4px solid white;
    // color: white;
    background: rgba(0,0,0,0.1);
    
    @include transform(translateY(4px));
  }
  
  div.btn-txt-wrapper {
    position: relative;
    width: 100%;
    top: 50%;
    
    @include transform(translateY(-50%));
    
    span.btn-txt {
      display: inline-block;
      width: 100%;
      font-size: 2em;
      text-align: center;
    }
  }
}

@mixin card($color) {
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: $gutter;
    opacity: 0;
    background: $color;
    
    @include user-select(none);
    @include cursor-grab;
    @include transition(all, 1s, $normal-bezier, 0s);
    @include border-radius($radius);
    
    &.left {
      left: -150%;
    }
    
    &.right {
      left: 150%;
    }
    
    &.focus {
      left: 0;
      opacity: 1;
    }
    
    &.mousedown {
      @include cursor-grabbing;
    }
    
    .card-tondo {
      position: absolute;
      height: 128px;
      width: 128px;
      top: $gutter;
      left: $gutter;
      background: white;
      cursor: pointer;
      z-index: 2;
      
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #ccc;
      background-size: cover;
      
      @include border-radius(50%);
      @include transition(all, 1s, $normal-bezier, 0s);
      
      @include respond-to(phone) {
        height: 64px;
        width: 64px;
      }
      
      &.focus {
        @include border-radius($radius);
      }
    }
    
    .card-content {
      position: relative;
      width: 100%;
      top: 50%;
      text-align: center;
      
      @include transform(translateY(-50%));
      
      .card-head {
        display: inline-block;
        width: 100%;
        font-size: 3.5em;
        text-align: center;
        padding-bottom: $gutter;
        border-bottom: 4px solid white;
        
        @include respond-to(phone) { font-size: 2em; }
      }
      
      .card-body {
        display: inline-block;
        width: 100%;
        max-width: 960px;
        font-size: 2em;
        text-align: justify;
        padding-top: $gutter;
        
        @include respond-to(phone) { font-size: 1.1em; }
      }
      
      a.btn {
        margin-top: $gutter;
        color: $color;
        
        &.hover, &.mousedown {
          color: white;
        }
      }
    }
  }
}

@mixin circle-icon($base-color, $alt-color) {
  position: absolute;
  cursor: pointer;
  background: white;
  border: 2px solid $base-color;
  
  &.hover {
    background: $alt-color;
  }
  
  &.mousedown, &.active {
    background: $base-color;
  }
  
  &.hover, &.mousedown, &.active {
    border: 2px solid white;
    
    div {
      svg {
        stroke: white;
      }
    }
  }
  
  div {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $inscribed;
    
    svg {
      stroke: $base-color;
    }
  }
}
