$sans-serif: 'Covered By Your Grace', cursive;
$serif: 'Poiret One', cursive;

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  // min-height: 100% !important;
  // height: 100%;
  background: #aaaaaa;
  -webkit-text-size-adjust: none;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // width: 100%;
  // height: 100%;
  // font-family: $sans-serif;
  font-family: $serif;
}
