<section id="about">
  <div id="hero">
    <div>
      <span id="hero-large">THEY CALL ME GRIZ</span>
      <span id="hero-small">ASPIRING UX DESIGNER</span>
    </div>
  </div>
  
  <div id="about-pull">
    <div id="about-pull-handle"><span>></span></div>
    <div id="about-pull-tondo"></div>
    <div id="about-pull-content">
      <div class="about-pull-tease"></div>
      <div class="about-pull-info"></div>
      <div class="about-pull-summary"></div>
    </div>
    <div id="about-pull-breadcrumbs"></div>
  </div>
  
  <a id="about-contact" href="#contact">
    <span>CONTACT</span>
  </a>
</section>
