<section id="about">
  <div id="about-container">
    <div id="about-cards">
      <div id="about-card-contact" class="about-card">
        <div>
          <span>Maybe you feel like reaching out</span>
          <a id="about-contact" href="#contact">
            <span>CONTACT</span>
          </a>
        </div>
      </div>
    </div>
    
    <div id="about-breadcrumbs">
      <div><%= render "icons/beard" %></div>
      <div><%= render "icons/leigh" %></div>
      <div><%= render "icons/hound" %></div>
      <div id="about-breadcrumb-contact"><%= render "icons/contact" %></div>
    </div>
  </div>
</section>
