<section id="about">
  <div id="about-hero">
    <div>
      <span id="about-hero-large">THEY CALL ME GRIZ</span>
      <span id="about-hero-small">ASPIRING UX DESIGNER</span>
    </div>
  </div>
  
  <div id="about-pull">
    <div id="about-pull-handle"><span>></span></div>
    <div id="about-pull-tondo"></div>
    <div id="about-pull-content">
      <div id="about-pull-tease"></div>
      <div id="about-pull-info"></div>
      <div id="about-pull-summary"></div>
    </div>
    <div id="about-pull-breadcrumbs">
      <div><%= render "icons/beard" %></div>
      <div><%= render "icons/leigh" %></div>
      <div><%= render "icons/hound" %></div>
    </div>
  </div>
  
  <a id="about-contact" href="#contact">
    <span>CONTACT</span>
  </a>
</section>
