<section id="contact" class="section">
  <div id="contact-container" class="section-container">
    <div id="contact-content">
      <textarea id="contact-message" type="text" placeholder="Leave a comment and a way to reach you if you wish"></textarea>
      
      <%= render("_/btn", text: "SEND") %>
      
      <div id="contact-confirmation"></div>
    </div>
  </div>
</section>
