<section id="contact" class="section">
  <div id="contact-container" class="section-container">
    <div id="contact-content">
      <div id="contact-anon" class="anonymous">
        <div id="contact-anon-toggle">
          <i></i>
        </div>
        
        <div id="contact-anon-status">ANONYMOUS</div>
      </div>
      
      <input id="contact-response" type="text" placeholder="email, phone, etc." disabled>
      
      <textarea id="contact-message" type="text" placeholder="What would you like to say?"></textarea>
    </div>
    
    <!--<div id="burger-container">-->
    <!--  <div class="burger">-->
    <!--    <i></i>-->
    <!--    <i></i>-->
    <!--    <i></i>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</section>
