<section id="contact" class="section">
  <div id="contact-container" class="container">
    <div id="contact-content">
      <input id="contact-address" type="text" placeholder="Email" />
      
      <textarea id="contact-message" type="text" placeholder="Leave a message..."></textarea>
      
      <%= render("_/btn", text: "SEND", href: "#contact") %>
      
      <div id="contact-confirmation"></div>
    </div>
  </div>
</section>
