<section id="contact" class="section">
  <div id="contact-container" class="section-container">
    <div id="burger-container">
      <div class="burger">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>
  </div>
</section>
