footer#footer {
  background: #555555;
  position: relative;
  padding: $gutter;
  width: 100%;
  
  #footer-icons {
    position: relative;
    width: 100%;
    height: 80px;
    
    @include respond-to(phone) {
      height: 64px;
    }
  }
  
  .icon {
    display: inline-block;
    position: absolute;
    height: 80px;
    width: 80px;
    
    // @include responsive-shadow;
    
    @include respond-to(phone) {
      height: 64px;
      width: 64px;
    }
    
    border: 2px solid #555555;
    
    &.hover {
      background: #333333;
    }
    
    &.mousedown, &.active {
      background: #555555;
    }
    
    div {
      svg {
        stroke: #555555;
      }
    }
  }
  
  a {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
