header#navigation {
  
  nav#menu {
    position: fixed;
    background-color: map-get($mex, yellow);
    padding: 10% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    
    @include transition(transform, 1s, $normal-bezier, 0s);
    
    a {
      @include display-flex;
      @include align-items(center);
      text-align: center;
      color: black;
      text-decoration: none;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      height: 25%;
      position: relative;
      overflow: hidden;
      
      @include respond-to(phone) { font-size: 2.5rem; }
      @include respond-to(tablet) { font-size: 2.75rem; }
      @include respond-to(desktop) { font-size: 3rem; }
      
      @include transition(transform, 1s, $normal-bezier, 0s);
      
      span {
        display: inline-block;
        width: 70%;
        text-align: center;
        position: relative;
      }
      
      div {
        display: inline-block;
        text-align: center;
        position: relative;
        max-height: 100%;
        max-width: 30%;
        width: 64px;
        padding: 4px;
        
        svg {
          stroke: black;
        }
      }
      
      &.hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
        
        div {
          svg {
            stroke: white;
          }
        }
      }
      
      &.mousedown {
        background-color: rgba(255,255,255,0.2);
        color: white;
        
        div {
          svg {
            stroke: white;
          }
        }
      }
      
      &.active {
        color: white;
        
        div {
          svg {
            stroke: white;
          }
        }
      }
    }
  }
  
  &.closed {
    nav#menu {
      @include transform(translateY(-100%));
      
      a:nth-child(odd) {
        @include transform(translateX(-100%));
      }
      
      a:nth-child(even) {
        @include transform(translateX( 100%));
      }
    }
  }
  
  div#burger {
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    // top: 2 * $gutter;
    top: $gutter;
    right: 2 * $gutter;
    z-index: 4;
    
    @include respond-to(phone) {
      height: 50px;
      width: 50px;
      // top: -2.5px;
      // right: 10px;
    }
    
    @include respond-to(tablet) {
      height: 100px;
      width: 100px;
      // top: -5px;
      // right: 20px;
    }
    
    @include respond-to(desktop) {
      height: 150px;
      width: 150px;
      // top: -7.5px;
      // right: 30px;
    }
    
    @include user-select(none);
    @include transition(all, 0.8s, cubic-bezier(.25,1.5,.5,1), 0s);
    
    i {
      display: block;
      height: 10%;
      width: 100%;
      background-color: white;
      @include border-radius(5%/#{50%});
      @include transition(transform, 0.4s, cubic-bezier(.25,1.5,.5,1), 0s);
      
      &:nth-child(1) {
        margin-top: 25%;
        margin-bottom: 10%;
      }
      
      &:nth-child(2) {
        margin-bottom: 10%;
      }
      
      &:nth-child(3) {
        margin-bottom: 25%;
      }
      
      &.track {
        background-color: #bbbbbb;
      }
    }
    
    &.cross {
      @include transform(rotate(90deg));
    
      // @include respond-to(phone) { top: 10px; }
      // @include respond-to(tablet) { top: 20px; }
      // @include respond-to(desktop) { top: 30px; }
    }
    
    &.cross.closing, &.lines {
      @include transform(rotate(0));
    }
    
    &.lines.hover {
      i:nth-child(1) {
        @include transform(translateY(-50%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 50%));
      }
    }
    
    &.lines.mousedown {
      i:nth-child(1) {
        @include transform(translateY(-100%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 100%));
      }
    }
    
    &.cross {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 45deg));
      }
      i:nth-child(2) {
        opacity: 0;
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-45deg));
      }
    }
    
    &.cross.hover  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 50deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-50deg));
      }
    }
    
    &.cross.mousedown  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 55deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-55deg));
      }
    }
    
    &.lines.opening, &.cross.closing {
      i:nth-child(1) {
        @include transform(translateY( 200%));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%));
      }
    }
  }
}
