header#navigation {
  
  nav#menu {
    position: fixed;
    background-color: map-get($mex, orange);
    padding: 10% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    
    @include transition(transform, 1s, cubic-bezier(.25,1,.5,1), 0s);
    
    a {
      @include display-flex;
      @include align-items(center);
      text-align: center;
      color: map-get($mex, blue);
      text-decoration: none;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      height: 25%;
      position: relative;
      overflow: hidden;
      
      @include respond-to(phone) { font-size: 2.5rem; }
      @include respond-to(tablet) { font-size: 2.75rem; }
      @include respond-to(desktop) { font-size: 3rem; }
      
      @include transition(transform, 1s, cubic-bezier(.25,1,.5,1), 0s);
      
      &.hover {
        background-color: rgba(255,255,255,0.1);
        
        span {
          color: white;
        }
      }
      
      &.mousedown {
        background-color: rgba(255,255,255,0.2);
        
        span {
          color: white;
        }
      }
      
      &.active {
        span {
          color: white;
        }
      }
      
      span {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
    }
  }
  
  &.closed {
    nav#menu {
      @include transform(translateY(-100%));
      
      a:nth-child(odd) {
        @include transform(translateX(-100%));
      }
      
      a:nth-child(even) {
        @include transform(translateX( 100%));
      }
    }
  }
  
  div#burger {
    position: fixed;
    right: 40px;
    cursor: pointer;
    background-color: transparent;
    z-index: 4;
    
    @include respond-to(phone) {
      height: 100px;
      width: 100px;
      top: 15px;
    }
    
    @include respond-to(tablet) {
      height: 125px;
      width: 125px;
      top: 8.5px;
    }
    
    @include respond-to(desktop) {
      height: 150px;
      width: 150px;
      top: 2.5px;
    }
    
    @include user-select(none);
    @include transition(all, 0.8s, cubic-bezier(.25,1.5,.5,1), 0s);
    
    i {
      display: block;
      height: 10%;
      width: 100%;
      background-color: white;
      @include border-radius(5%/#{50%});
      @include transition(transform, 0.4s, cubic-bezier(.25,1.5,.5,1), 0s);
      
      &:nth-child(1) {
        margin-top: 25%;
        margin-bottom: 10%;
      }
      
      &:nth-child(2) {
        margin-bottom: 10%;
      }
      
      &:nth-child(3) {
        margin-bottom: 25%;
      }
    }
    
    &.cross {
      top: 40px;
      @include transform(rotate(90deg));
    }
    
    &.cross.closing, &.lines {
      @include transform(rotate(0));
    }
    
    &.lines.hover {
      i:nth-child(1) {
        @include transform(translateY(-50%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 50%));
      }
    }
    
    &.lines.mousedown {
      i:nth-child(1) {
        @include transform(translateY(-100%));
      }
      
      i:nth-child(3) {
        @include transform(translateY( 100%));
      }
    }
    
    &.cross {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 45deg));
      }
      i:nth-child(2) {
        opacity: 0;
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-45deg));
      }
    }
    
    &.cross.hover  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 50deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-50deg));
      }
    }
    
    &.cross.mousedown  {
      i:nth-child(1) {
        @include transform(translateY( 200%) rotate( 55deg));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%) rotate(-55deg));
      }
    }
    
    &.lines.opening, &.cross.closing {
      i:nth-child(1) {
        @include transform(translateY( 200%));
      }
      i:nth-child(3) {
        @include transform(translateY(-200%));
      }
    }
  }
}
