<div class="card contact-card">
  <div class="card-content">
    <div class="card-head">
      <%= head %>
    </div>
    
    <a class="btn-contact" href="#contact">
      <div class="contact-text-wrapper">
        <span class="contact-text">
          <%= text %>
        </span>
      </div>
    </a>
  </div>
</div>