section#about {
  background: $base-blue;
  
  div#about-container {
    div#about-cards {
      position: absolute;
      width: calc(100% - 2 * #{$gutter});
      left: $gutter;
      top: $gutter;
      height: calc(100% - 2 * #{$gutter});
      
      @include card($alt-blue);
    }
    
    div#about-breadcrumbs {
      position: absolute;
      bottom: 2 * $gutter;
      left: 2 * $gutter;
      width: calc(100% - 4 * #{$gutter});
      
      div.about-breadcrumb {
        left: calc(-64px - 2 * #{$gutter});
        bottom: 0;
        height: 80px;
        width: 80px;
        
        @include border-radius(50%);
        @include transition(left, 1.5s, $normal-bezier, 0s);
        
        @include respond-to(tablet) {
          height: 64px;
          width: 64px;
        }
        
        @include respond-to(phone) {
          height: 56px;
          width: 56px;
        }
        
        @include circle-icon($base-blue, $alt-blue);
        
        &.mousedown {
          @include transform(translateY(4px));
          
          @include respond-to(phone) { @include transform(translateY(-24px)); }
        }
      }
    }
  }
}
