section#about {
  background: map-get($mex, blue);
  
  div#about-container {
    div#about-cards {
      position: absolute;
      width: calc(100% - 30px);
      left: 15px;
      top: 15px;
      
      // 100% - breadcrumb height - 30 - 15
      height: calc(100% - 109px);
      @include respond-to(phone) { height: calc(100% - 93px); }
      
      @include card(darken(map-get($mex, blue), 15%));
    }
    
    div#about-breadcrumbs {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      
      div {
        display: inline-block;
        text-align: center;
        position: absolute;
        left: -64px;
        bottom: 15px;
        height: 64px;
        width: 64px;
        padding: 4px;
        background: white;
        // margin-bottom: 8px;
        cursor: pointer;
        
        @include border-radius(50%);
        @include transition(left, 1.5s, $normal-bezier, 0s);
        @include transform(translateX(-50%));
        
        @include respond-to(phone) {
          height: 48px;
          width: 48px;
          padding: 3px;
        }
        
        svg {
          stroke: darken(map-get($mex, blue), 15%);
        }
        
        &.hover {
          background: darken(map-get($mex, blue), 5%);
          border: 1px solid white;
          
          svg {
            stroke: white;
          }
        }
        
        &.mousedown, &.active {
          background: darken(map-get($mex, blue), 15%);
          border: 1px solid white;
          
          svg {
            stroke: white;
          }
        }
        
        &.mousedown {
          @include transform(translate(-50%,4px));
          
          @include respond-to(phone) { @include transform(translate(-50%,-24px)); }
        }
      }
    }
  }
}
