section#about {
  background: map-get($mex, blue);
  
  div#hero {
    @include display-flex;
    @include align-items(center);
    position: relative;
    height: 50%;
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    color: white;
    
    @include transition(height, 1s, cubic-bezier(.25,1,.5,1), 1s);
    
    div {
      display: block;
      width: 100%;
      
      span#hero-large {
        font-weight: normal;
        font-size: 4rem;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      span#hero-small {
        font-size: 3rem;
        display: block;
        height: 50%;
        width: 100%;
        text-align: center;
        position: relative;
      }
    }
    
    &.shrink {
      @include transition(height, 1s, cubic-bezier(.25,1,.5,1), 0s);
      height: 33%;
    }
  }
  
  div#about-pull {
    position: absolute;
    height: 67%;
    width: 100%;
    bottom: 0px;
    right: 100%;
    background: map-get($mex, green);
    z-index: 1;
    
    @include transition(all, 1s, cubic-bezier(.25,1,.5,1), 0s);
    
    div#about-pull-handle {
      @include display-flex;
      @include align-items(center);
      position: absolute;
      height: 100%;
      width: 10%;
      right: -10%;
      bottom: 0;
      background: transparent;
      color: white;
      cursor: pointer;
      font-size: 5rem;
      z-index: 2;
      
      @include transition(right, 1s, cubic-bezier(.25,1,.5,1), 0s);
      
      span {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      &.hover {
        background: rgba(0,0,0,0.1);
        font-size: 6.5rem;
      }
      
      &.mousedown {
        background: rgba(0,0,0,0.2);
        font-size: 8rem;
      }
    }
    
    div#about-pull-tondo {
      position: absolute;
      height: 128px;
      width: 128px;
      top: -64px;
      right: 100%;
      background: white;
      cursor: pointer;
      z-index: 2;
    
      @include border-radius(64px);
      @include transition(all, 1s, cubic-bezier(.25,1,.5,1), 0s);
      
      &.focus {
        @include border-radius(4px);
      }
    }
    
    div#about-me, div#about-millie, div#about-learning {
      opacity: 0;
      z-index: -1;
      
      &.show {
        opacity: 1;
      }
      
      div.about-pull-tease, div.about-pull-info, div.about-pull-summary {
        @include display-flex;
        position: absolute;
        height: 100%;
        width: 33%;
        padding: 4px;
        color: white;
        z-index: -1;
        
        @include transition(opacity, 1s, cubic-bezier(.25,1,.5,1), 0s);
        
        @include respond-to(phone) {
          height: 25%;
          width: 90%;
        }
        
        span {
          display: block;
          width: 100%;
          text-align: center;
          position: relative;
        }
      }
      
      div.about-pull-tease {
        font-size: 3rem;
        
        @include align-items(flex-start);
        
        @include respond-to(phone) { top: 25%; }
      }
      
      div.about-pull-info {
        left: 33%;
        font-size: 2.5rem;
        
        @include align-items(center);
        
        @include respond-to(phone) { top: 50%; left: 0; }
      }
      
      div.about-pull-summary {
        left: 67%;
        font-size: 2rem;
        padding-bottom: 32px;
        
        @include align-items(flex-end);
        
        @include respond-to(phone) { top: 75%; left: 0; }
      }
    }
    
    &.show {
      right: 0;
      
      div#about-pull-handle {
        right: 0;
      }
      
      div#about-pull-tondo {
        right: calc(12.5% - 64px);
      }
    }
  }
  
  a#about-contact {
    @include display-flex;
    @include align-items(center);
    position: absolute;
    height: 128px;
    width: 40%;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    color: white;
    background: map-get($mex, pink);
      
    @include respond-to(phone) { width: calc(100% - 60px); }
    
    @include border-radius(4px);
      
    span {
      display: block;
      width: 100%;
      text-align: center;
      position: relative;
    }
    
    &.hover {
      background: saturate(map-get($mex, pink), 10%);
    }
    
    &.mousedown {
      background: saturate(map-get($mex, pink), 20%);
    }
  }
}