section#about {
  background: map-get($mex, blue);
  
  div#hero {
    @include display-flex;
    @include align-items(center);
    position: relative;
    height: 50%;
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    color: white;
    
    @include transition(height, 1s, cubic-bezier(.25,1,.5,1), 1s);
    
    div {
      display: block;
      width: 100%;
      
      span#hero-large {
        font-weight: normal;
        font-size: 4rem;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      span#hero-small {
        font-size: 3rem;
        display: block;
        height: 50%;
        width: 100%;
        text-align: center;
        position: relative;
      }
    }
    
    &.shrink {
      @include transition(height, 1s, cubic-bezier(.25,1,.5,1), 0s);
      height: 33%;
    }
  }
  
  div#about-pull {
    position: absolute;
    height: 67%;
    width: 100%;
    bottom: 0px;
    right: 100%;
    background: map-get($mex, green);
    z-index: 1;
    
    @include transition(all, 1s, cubic-bezier(.25,1,.5,1), 0s);
    
    div#about-pull-handle {
      @include display-flex;
      @include align-items(center);
      position: absolute;
      height: 100%;
      width: 128px;
      right: -128px;
      bottom: 0;
      background: transparent;
      color: white;
      cursor: pointer;
      font-size: 5rem;
      
      @include transition(font-size, 0.2s, cubic-bezier(.25,1,.5,1), 0s);
      @include transition(right, 1s, cubic-bezier(.25,1,.5,1), 0s);
      
      span {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      &.hover {
        background: rgba(0,0,0,0.1);
        font-size: 7.5rem;
      }
      
      &.mousedown {
        background: rgba(0,0,0,0.2);
        font-size: 10rem;
      }
    }
    
    div#about-pull-tondo {
      position: absolute;
      height: 128px;
      width: 128px;
      top: -64px;
      left: calc(12.5% - 64px);
      background: white;
    
      @include border-radius(64px);
    }
    
    &.show {
      right: 0;
      
      div#about-pull-handle {
        right: 0;
      }
    }
  }
  
  a#about-contact {
    @include display-flex;
    @include align-items(center);
    position: absolute;
    height: 128px;
    width: 40%;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: map-get($mex, pink);
      
    @include respond-to(phone) { width: calc(100% - 60px); }
    @include respond-to(tablet) { }
    @include respond-to(desktop) { }
    
    @include border-radius(4px);
      
    span {
      display: block;
      width: 100%;
      text-align: center;
      position: relative;
    }
    
    &.hover {
      background: saturate(map-get($mex, pink), 10%);
    }
    
    &.mousedown {
      background: saturate(map-get($mex, pink), 20%);
    }
  }
}