section#about {
  background: map-get($mex, blue);
  
  div#hero {
    @include display-flex;
    @include align-items(center);
    position: relative;
    height: 50%;
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    color: white;
    
    @include transition(all, 1s, $normal-bezier, 1s);
    
    div {
      display: block;
      width: 100%;
      
      span#hero-large {
        font-weight: normal;
        font-size: 4rem;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      span#hero-small {
        font-size: 3rem;
        display: block;
        height: 50%;
        width: 100%;
        text-align: center;
        position: relative;
      }
    }
    
    &.shrink {
      @include transition(all, 1s, $normal-bezier, 0s);
      height: 33%;
      
      @include respond-to(phone) { opacity: 0; }
    }
  }
  
  div#about-pull {
    position: absolute;
    height: 67%;
    width: 100%;
    bottom: 0px;
    right: 100%;
    background: map-get($mex, green);
    z-index: 1;
    
    @include transition(all, 1s, $normal-bezier, 0s);
    
    div#about-pull-handle {
      @include display-flex;
      @include align-items(center);
      position: absolute;
      height: 100%;
      width: 10%;
      right: -10%;
      bottom: 0;
      background: transparent;
      color: white;
      cursor: pointer;
      font-size: 5rem;
      z-index: 2;
      
      @include transition(right, 1s, $normal-bezier, 0s);
      
      span {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      &.hover {
        background: rgba(0,0,0,0.1);
        font-size: 6.5rem;
      }
      
      &.mousedown {
        background: rgba(0,0,0,0.2);
        font-size: 8rem;
      }
    }
    
    div#about-pull-tondo {
      position: absolute;
      height: 128px;
      width: 128px;
      top: -64px;
      right: 100%;
      background: white;
      cursor: pointer;
      z-index: 2;
      
      // background-image: image-url("me.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #ccc;
      background-size: cover;
    
      @include border-radius(64px);
      @include transition(all, 1s, $normal-bezier, 0s);
      
      &.focus {
        @include border-radius(4px);
      }
    }
    
    div#about-pull-content {
      z-index: -1;
      
      div.about-pull-tease, div.about-pull-info, div.about-pull-summary {
        @include display-flex;
        position: absolute;
        height: 100%;
        width: 30%;
        padding: 4px;
        color: white;
        z-index: -1;
        
        @include transition(opacity, 1s, $normal-bezier, 0s);
        
        @include respond-to(phone) {
          height: 25%;
          width: 90%;
        }
        
        span {
          display: block;
          width: 100%;
          text-align: center;
          position: relative;
        }
      }
      
      div.about-pull-tease {
        font-size: 3rem;
        
        @include align-items(flex-start);
        
        @include respond-to(phone) {
          top: 25%;
          font-size: 2rem;
        }
      }
      
      div.about-pull-info {
        left: 30%;
        font-size: 2.5rem;
        
        @include align-items(center);
        
        @include respond-to(phone) {
          top: 50%;
          left: 0;
          font-size: 1.75rem;
        }
      }
      
      div.about-pull-summary {
        left: 60%;
        font-size: 2rem;
        padding-bottom: 32px;
        
        @include align-items(flex-end);
        
        @include respond-to(phone) {
          top: 75%;
          left: 0;
          font-size: 1.5rem;
        }
      }
    }
    
    div#about-pull-breadcrumbs {
      position: absolute;
      // height: 10%;
      bottom: 0;
      
      span {
        display: inline-block;
        height: 64px;
        width: 64px;
        margin: 8px;
        background: transparent;
        border: 4px solid white;
        cursor: pointer;
        
        @include border-radius(32px);
        
        @include transition(all, 0.5s, $normal-bezier, 0s);
        
        &.active {
          background: white;
        }
      }
    }
    
    &.show {
      right: 0;
      
      div#about-pull-handle {
        right: 0;
      }
      
      div#about-pull-tondo {
        // 10% for pull, 30% / 2 to center, 128px / 2 to center
        right: calc(25% - 64px);
        
        // 10% for pull, 90% / 2 to center, 128px / 2 to center
        @include respond-to(phone) { right: calc(55% - 64px); }
      }
    }
  }
  
  a#about-contact {
    @include display-flex;
    @include align-items(center);
    position: absolute;
    height: 128px;
    width: 40%;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    color: white;
    background: map-get($mex, pink);
      
    @include respond-to(phone) { width: calc(100% - 60px); }
    
    @include border-radius(4px);
      
    span {
      display: block;
      width: 100%;
      text-align: center;
      position: relative;
    }
    
    &.hover {
      background: saturate(map-get($mex, pink), 10%);
    }
    
    &.mousedown {
      background: saturate(map-get($mex, pink), 20%);
    }
  }
}