section#about {
  background: map-get($mex, blue);
  box-sizing: content-box;
  border-bottom: 50px solid map-get($mex, blue);
  
  div#about-hero {
    @include display-flex;
    @include align-items(center);
    position: relative;
    height: 50%;
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    color: white;
    
    @include transition(all, 1s, $normal-bezier, 1s);
    
    div {
      display: block;
      width: 100%;
      
      span#about-hero-large {
        font-weight: normal;
        // font-size: 60px;
        font-size: 3.75em;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        
        @include respond-to(phone) { font-size: 30px; }
      }
      
      span#about-hero-small {
        font-size: 2.8em;
        display: block;
        height: 50%;
        width: 100%;
        text-align: center;
        position: relative;
        
        @include respond-to(phone) { font-size: 20px; }
      }
    }
    
    &.shrink {
      @include transition(all, 1s, $normal-bezier, 0s);
      height: 33%;
      padding-right: 10%;
    }
  }
  
  div#about-pull {
    position: absolute;
    height: 67%;
    width: 100%;
    bottom: 0px;
    border: 4px solid white;
    right: 100%;
    background: map-get($mex, blue);
    z-index: 1;
    
    @include transition(all, 1s, $normal-bezier, 0s);
    @include border-radius(8px 8px 0 0);
    
    div#about-pull-handle {
      @include display-flex;
      @include align-items(center);
      position: absolute;
      height: 100%;
      width: 10%;
      right: -10%;
      bottom: 0;
      background: transparent;
      color: white;
      cursor: pointer;
      z-index: 2;
      
      @include transition(right, 1s, $normal-bezier, 0s);
      @include border-radius(0 5px 5px 0);
      
      @include respond-to(phone) { font-size: 55px; }
      @include respond-to(tablet) { font-size: 85px; }
      @include respond-to(desktop) { font-size: 100px; }
      
      span {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
      }
      
      &.hover {
        background: rgba(0,0,0,0.1);
      
        @include respond-to(phone) { font-size: 66px; }
        @include respond-to(tablet) { font-size: 102px; }
        @include respond-to(desktop) { font-size: 120px; }
      }
      
      &.mousedown {
        background: rgba(0,0,0,0.2);
      
        @include respond-to(phone) { font-size: 77px; }
        @include respond-to(tablet) { font-size: 119px; }
        @include respond-to(desktop) { font-size: 140px; }
      }
    }
    
    div#about-pull-tondo {
      position: absolute;
      width: 20%;
      right: 100%;
      background: white;
      cursor: pointer;
      z-index: 2;
      
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #ccc;
      background-size: cover;
    
      @include border-radius(50%);
      @include transition(all, 1s, $normal-bezier, 0s);
      
      &.focus {
        @include border-radius(16px);
      }
    }
    
    div#about-pull-content {
      z-index: -1;
      
      div#about-pull-tease, div#about-pull-info, div#about-pull-summary {
        @include display-flex;
        position: absolute;
        height: 100%;
        width: 30%;
        padding: 4px;
        color: white;
        z-index: -1;
        
        @include transition(opacity, 1s, $normal-bezier, 0s);
        
        span {
          display: block;
          width: 100%;
          text-align: center;
          position: relative;
        }
      }
      
      div#about-pull-tease {
        font-size: 60px;
        
        @include align-items(flex-start);
        
        @include respond-to(phone) { font-size: 30px; }
      }
      
      div#about-pull-info {
        left: 30%;
        font-size: 50px;
        
        @include align-items(center);
        
        @include respond-to(phone) {
          top: 30%;
          left: 0;
          font-size: 25px;
          height: 25%;
          width: 90%;
        }
      }
      
      div#about-pull-summary {
        left: 60%;
        font-size: 40px;
        padding-bottom: 32px;
        
        @include align-items(flex-end);
        
        @include respond-to(phone) {
          top: 60%;
          left: 0;
          font-size: 20px;
          height: 25%;
          width: 90%;
          @include align-items(center);
        }
      }
    }
    
    div#about-pull-breadcrumbs {
      position: absolute;
      bottom: 0;
      
      span {
        display: inline-block;
        height: 32px;
        width: 32px;
        margin: 8px;
        background: transparent;
        border: 4px solid white;
        cursor: pointer;
        
        @include border-radius(16px);
        
        @include transition(all, 0.5s, $normal-bezier, 0s);
        
        &.active {
          background: white;
        }
      }
    }
    
    &.show {
      right: 0;
      
      div#about-pull-handle {
        right: 0;
        
        @include border-radius(5px 5px 0 5px);
      }
      
      div#about-pull-tondo {
        // 10% for pull, 30% / 2 to center, 20% / 2 to center
        right: 15%;
      }
    }
  }
  
  a#about-contact {
    @include display-flex;
    @include align-items(center);
    position: absolute;
    height: 64px;
    width: 40%;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    font-size: 32px;
    color: map-get($mex, blue);
    background: white;
      
    @include respond-to(phone) {
      width: calc(100% - 60px);
      height: 48px;
      font-size: 24px;
    }
    
    @include border-radius(8px);
      
    span {
      display: block;
      width: 100%;
      text-align: center;
      position: relative;
    }
    
    &.hover {
      border: 4px solid map-get($mex, blue);
    }
    
    &.mousedown {
      transform: translateY(4px);
    }
  }
}
