section#contact {
  background: map-get($mex, orange);
  
  div#contact-container {
    div#contact-content {
      position: relative;
      width: 100%;
      top: 50%;
      padding: $gutter;
      
      @include transform(translateY(-50%));
      
      div#contact-anon {
        width: 100%;
        position: relative;
        margin-bottom: $gutter;
        cursor: pointer;
        
        &.anonymous {
          div#contact-anon-toggle {
            background: map-get($mex, orange);
            border: 4px solid white;
            
            i {
              left: calc(6px - 4px);
              background: white;
            }
          }
          
          div#contact-anon-status {
            color: white;
          }
        }
        
        div#contact-anon-toggle {
          position: relative;
          height: 48px;
          width: 100%;
          background: white;
          
          @include border-radius(24px);
          
          i {
            position: absolute;
            height: 36px;
            width: 36px;
            // left: 54px; // 96 - 36 - 6
            left: calc(100% - 36px - 6px);
            top: 50%;
            background: map-get($mex, orange);
            
            @include transition(left, 1s, $normal-bezier, 0s);
            @include transform(translateY(-50%));
            @include border-radius(50%);
          }
        }
        
        div#contact-anon-status {
          position: absolute;
          left: 50%;
          top: 50%;
          background: transparent;
          color: map-get($mex, orange);
          font-size: 32px;
          
          @include transform(translate(-50%,-50%));
        }
      }
      
      input#contact-response, textarea#contact-message {
        width: 100%;
        outline: none;
        background: white;
        color: map-get($mex, orange);
        border: none;
        border-bottom: 4px solid lighten(map-get($mex, orange), 10%);
        padding: 12px 20px;
        font-size: 16px;
        margin-bottom: $gutter;
        
        @include border-radius($radius);
      }
    }
    
    // div#burger-container {
    //   position: absolute;
    //   height: 300px;
    //   width: 300px;
    //   left: 50%;
    //   top: 50%;
      
    //   @include transform(translate(-50%,-50%));
    // }
  }
}
