section#history {
  background: map-get($mex, purple);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  
  @include transition(all, 1s, $normal-bezier, 0s);
  
  div#history-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include transition(height, 1s, $normal-bezier, 0s);
    
    div#history-mechanism {
      position: absolute;
      height: calc(100% - 60px);
      top: 30px;
      width: 60px;
      background: transparent;
      z-index: 1;
      cursor: pointer;
      
      div#history-track {
        position: absolute;
        top: 0;
        left: 50%;
        background: transparent;
        height: 100%;
        width: 20px;
        border: 4px solid white;
        
        @include transform(translateX(-50%));
        @include border-radius(15px);
      
        div#history-track-detents {
          span {
          position: absolute;
          left: 50%;
          background: transparent;
          height: 10px;
          width: 10px;
          border: 2px solid white;
          
          @include transform(translate(-50%, -50%));
          @include border-radius(50%);
          }
        }
      }
      
      div#history-slider {
        position: absolute;
        left: 50%;
        background: white;
        height: 40px;
        width: 40px;
        border: 4px solid white;
        
        @include user-select(none);
        @include transform(translate(-50%, -50%));
        @include border-radius(50%);
      }
    }
    
    div#history-cards {
      position: absolute;
      width: 100%;
      height: 100%;
      color: white;
      
      div.history-card {
        @include display-flex;
        @include align-items(center);
        position: absolute;
        // 100% - mechanism width - (mechanism width - track width) / 2
        width: calc(100% - 80px);
        height: calc(100% - 60px);
        left: 110%;
        top: -110%;
        padding: 10px;
        background: darken(map-get($mex, purple), 10%);
        
        @include transition(all, 1s, $normal-bezier, 0s);
        @include border-radius(8px);
        
        div {
          display: block;
          width: 100%;
        
          div.history-card-head {
            display: block;
            @include display-flex;
            @include align-items(center);
            position: relative;
            height: 15%;
            width: 100%;
            font-size: 3.75em;
            border-bottom: 4px solid white;
            padding-bottom: 8px;
            
            @include respond-to(phone) { font-size: 2em; }
            
            span {
              display: block;
              width: 100%;
              text-align: center;
              position: relative;
            }
          }
          
          div.history-card-body {
            display: block;
            @include display-flex;
            @include align-items(flex-start);
            position: relative;
            height: 85%;
            width: 100%;
            padding: 10px;
            font-size: 2em;
            
            @include respond-to(phone) { font-size: 1em; }
          }
        }
        
        &.focus {
          // mechanism width
          left: 60px;
          top: 30px;
        }
        
        &.away {
          top: 110%;
        }
      }
      
      div#history-card-hero {
        div {
          div.history-card-body {
            font-size: 2em;
            
            @include respond-to(phone) { font-size: 1.5em; }
            
            span {
              display: block;
              width: 100%;
              text-align: center;
              position: relative;
            }
          }
        }
      }
      
      div#history-card-contact {
        div {
          div.history-card-body {
            justify-content: center;
            
            a#history-contact {
              @include display-flex;
              @include align-items(center);
              position: relative;
              height: 64px;
              width: 40%;
              text-decoration: none;
              font-size: 1em;
              text-align: center;
              color: darken(map-get($mex, purple), 10%);
              background: white;
                
              @include respond-to(phone) {
                width: calc(100% - 60px);
                height: 48px;
                font-size: 1.5em;
              }
              
              @include border-radius(8px);
                
              span {
                display: block;
                width: 100%;
                text-align: center;
                position: relative;
              }
              
              &.hover {
                border: 4px solid darken(map-get($mex, purple), 10%);
              }
              
              &.mousedown {
                @include transform(translateY(4px));
              }
            }
          }
        }
      }
    }
  }
}
