section#history {
  background: $base-purple;
  
  div#history-container {
    div#history-cards {
      position: absolute;
      height: calc(100% - 2 * #{$gutter});
      width: calc(100% - 2 * #{$gutter});
      left: $gutter;
      top: $gutter;
      
      @include card($alt-purple);
    }
    
    div#history-mechanism {
      position: absolute;
      height: 4 * $gutter;
      background: transparent;
      z-index: 1;
      cursor: pointer;
      width: calc(100% - 4 * #{$gutter} - 64px);
      left: calc(2 * #{$gutter} + 64px / 2);
      bottom: calc(64px / 2);
      
      @include respond-to(tablet) {
        width: calc(100% - 4 * #{$gutter} - 56px);
        left: calc(2 * #{$gutter} + 64px / 2);
        bottom: calc(64px / 2);
      }
      
      @include respond-to(phone) {
        width: calc(100% - 4 * #{$gutter} - 52px);
        left: calc(2 * #{$gutter} + 52px / 2);
        bottom: calc(52px / 2);
      }
      
      div#history-track {
        position: absolute;
        top: 50%;
        background: $base-purple;
        height: 2 * $gutter;
        width: 100%;
        border: 2px solid white;
        
        @include transform(translateY(-50%));
        @include border-radius($gutter);
      
        div#history-track-detents {
          span {
          position: absolute;
          top: 50%;
          background: white;
          height: $gutter;
          width: $gutter;
          
          @include transform(translate(-50%, -50%));
          @include border-radius(50%);
          }
        }
      }
      
      div#history-slider {
        position: absolute;
        top: 50%;
        background: white;
        height: 64px;
        width: 64px;
        
        @include respond-to(tablet) {
          height: 56px;
          width: 56px;
        }
        
        @include respond-to(phone) {
          height: 52px;
          width: 52px;
        }
        
        @include user-select(none);
        @include transform(translate(-50%, -50%));
        @include border-radius(50%);
      }
    }
  }
}
