section#work {
  background: map-get($mex, red);
  box-sizing: content-box;
  border-top: 50px solid map-get($mex, red);
  border-bottom: 50px solid map-get($mex, red);
  position: relative;
  
  div#work-menu {
    position: absolute;
    // background: rgba(0,0,0,0.3);
    
    div#work-menu-center {
      position: absolute;
      background: white;
      
      @include transform(translate(-50%,-50%));
      @include border-radius(50%);
    }
    
    div#work-menu-petal-container {
      position: relative;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.3);
      
      @include transition(transform, 1s, $normal-bezier, 0s);
      
      div.work-menu-petal {
        position: absolute;
        background: white;
        
        @include transform(translate(-50%,-50%));
        // @include border-radius(50%);
        
        @include transition(transform, 1s, $normal-bezier, 0s);
      }
    }
  }
}
