/* global $ */

$( document ).on('turbolinks:load', function() {
  var about = 'section#about';
    var container = about + ' div#about-container';
      var tondo = container + ' div#about-tondo';
      var cards = container + ' div#about-cards';
        var card = cards + ' div.about-card';
        var contactCard = cards + ' div#about-card-contact';
            var contact = contactCard + ' div a#about-contact';
      var breadcrumbs = container + ' div#about-breadcrumbs';
        var breadcrumb = breadcrumbs + ' div';
  
  var $about = $(about);
    var $container = $(container);
      var $tondo = $(tondo);
      var $cards = $(cards);
        var $contactCard = $(contactCard);
            var $contact = $(contact);
      var $breadcrumbs = $(breadcrumbs);
        var $breadcrumb = $(breadcrumb);
  
  (function() {
    var msAnimationDuration = 1500;
    var msAnimationDelay = 1500;
    var msIncrement = msAnimationDuration / $breadcrumb.length;
    
    $breadcrumb.each(function(i) {
      var thisDelay = (msAnimationDuration - (i + 1) * msIncrement) + 'ms';
      
      $(this).css({
        '-webkit-transition-delay': thisDelay,
        '-moz-transition-delay': thisDelay,
        '-o-transition-delay': thisDelay,
        'transition-delay': thisDelay,
        '-webkit-transition-duration': msAnimationDuration + 'ms',
        '-moz-transition-duration': msAnimationDuration + 'ms',
        '-o-transition-duration': msAnimationDuration + 'ms',
        'transition-duration': msAnimationDuration + 'ms',
      });
    });
    
    var animationDelayTimeout = window.setTimeout(function() {
      $breadcrumb.each(function(i) {
        $(this).css({
          'left': (100 * (i + 1) / ($breadcrumb.length + 1)) + '%',
        });
      });
      
      var animationDurationTimeout = window.setTimeout(function() {
        $breadcrumb.css({
          '-webkit-transition-delay': '',
          '-moz-transition-delay': '',
          '-o-transition-delay': '',
          'transition-delay': '',
          '-webkit-transition-duration': '',
          '-moz-transition-duration': '',
          '-o-transition-duration': '',
          'transition-duration': '',
        });
        
        window.clearTimeout(animationDurationTimeout);
      }, msAnimationDuration / 2);
      
      window.clearTimeout(animationDelayTimeout);
    }, msAnimationDelay);
  })();
  
  var content = [
    {
      tease: 'I\'M LUKE',
      info: 'I enjoy creating beautifully designed experiences',
      summary: 'Contact me for your next website or job',
      tondo: '<%= asset_path "bear.jpg" %>',
    },
    {
      tease: 'MY BESTFRIEND',
      info: 'Going strong for 7 years, I\'m the luckiest guy alive to have Leigh',
      summary: 'I love spending everyday with her',
      tondo: '<%= asset_path "leigh.jpg" %>',
    },
    {
      tease: 'MILLIE THE PUP',
      info: 'Rescued and sassy, she loves playing with bones and howling at strangers',
      summary: 'Will demand play before cuddles',
      tondo: '<%= asset_path "millie.jpg" %>',
    },
  ];
  
  content.forEach(function(val, i) {
    // $tondo.css({
    //   backgroundImage: 'url(' + newContent.tondo + ')',
    // });
    
    var tease = '<div class="about-card-tease"><span>' + val.tease + '</span></div>';
    var info = '<div class="about-card-info"><span>' + val.info + '</span></div>';
    var summary = '<div class="about-card-summary"><span>' + val.summary + '</span></div>';
    var card = '<div class="about-card">' + tease + info + summary + '</div>';
    
    $(card).insertBefore($contactCard);
  });
  
  var $card = $(card);
  
  $breadcrumb.first().addClass('active');
  $card.first().addClass('focus');
  
  // var $responsive = $([pullHandle, contact, pullTondo, pullBreadcrumb].join(', '));
  var $responsive = $([breadcrumb, contact].join(', '));
  
  var fixedBuffer = 200;
  
  var sectionFill = function() {
    $about.css({
      'height': $( window ).height() + 'px',
    });
    
    $container.css({
      'height': $( window ).height() + 'px',
    });
  };
  
  sectionFill();
  
  // var tondoFocus = function() {
  //   var windowHeight = $( window ).height();
  //   var windowWidth =  $( window ).width();
    
  //   if (windowHeight > windowWidth) {
  //     $pullTondo.css({
  //       height: windowWidth - 30,
  //       width: windowWidth - 30,
  //       top: windowHeight / 2 - windowWidth / 2 - $pull.offset().top + 15 - 4,
  //       right: 15 - 4,
  //     });
  //   } else {
  //     $pullTondo.css({
  //       height: windowHeight - 30,
  //       width: windowHeight - 30,
  //       top: 15 - 4 - $pull.offset().top,
  //       right: windowWidth / 2 - windowHeight / 2 + 15 - 4,
  //     });
  //   }
  // };
  
  // var tondoUnfocus = function() {
  //   var windowWidth =  $( window ).width();
    
  //   $pullTondo.css({
  //     height: windowWidth / 5,
  //     width: '',
  //     top: (-windowWidth / 10),
  //     right: '',
  //   });
  // };
  
  // tondoUnfocus();
  
  $( window ).resize(function() {
    sectionFill();
    // if ($pullTondo.hasClass('focus')) {
    //   tondoFocus();
    // } else {
    //   tondoUnfocus();
    // }
  });
  
  var setContent = function(index) {
    $card.removeClass('away focus');
    
    $card.each(function(i) {
      $(this).css({
        'left': ((i - index) * 150 + 50) + '%',
      });
      // if (i == index) {
      //   $(this).css({
      //     'left': '50%',
      //   });
      // } else {
      //   $(this).css({
      //     'left': ((i - index) * 150 + 50) + '%',
      //   });
      // }
      // if (i == index) {
      //   $(this).addClass('focus');
      // } else if (i > index) {
      //   $(this).addClass('away');
      // }
    });
  };
  
  setContent(0);
  
  var updateContent = function() {
    if ($(this).hasClass('mousedown')) {
      $(this).removeClass('mousedown hover');
      
      if (!$(this).hasClass('active')) {
        setContent($(this).index());
        $breadcrumb.removeClass('active');
        $(this).addClass('active');
      }
    }
  };
  
  $responsive.on('mousedown', function() {
    $(this).addClass('mousedown');
  });
  
  // Screen actually follows link when mouseup event used instead of click
  $contact.on('click touchend touchcancel', function(e) {
    e.preventDefault();
    
    $contact.removeClass('mousedown hover');
    
    $('html, body').on('scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove', function() {
      $('html, body').stop();
      $('html, body').off('scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove');
    });
    
    var top = $('#contact').offset().top;
    var border = parseInt($('#contact').css("border-top-width"));
    $('html, body').animate({scrollTop: top + border}, 3000, function() {
      $('html, body').off('scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove');
    });
    
    return false;
  });
  
  $breadcrumb.on('mouseup touchend touchcancel', updateContent);
  
  $responsive.on('mouseenter', function() {
    $(this).addClass('hover');
  });
  
  $responsive.on('mouseleave', function() {
    $(this).removeClass('hover mousedown');
  });
  
  $responsive.on('touchstart', function(e) {
    e.preventDefault();
    $(this).addClass('mousedown');
  });
});
