<footer id="footer">
  <div id="footer-icons">
    <div class="footer-icon">
      <div><%= render "icons/github" %></div>
      <a href="https://github.com/lucaswinningham/"></a>
    </div>
    <div class="footer-icon">
      <div><%= render "icons/linkedin" %></div>
      <a href="https://www.linkedin.com/in/lucas-winningham-0a500278"></a>
    </div>
  </div>
</footer>
