<footer id="footer">
  <div id="footer-icons">
    <div class="footer-icon">
      <div><%= render "icons/about" %></div>
    </div>
    <div class="footer-icon">
      <div><%= render "icons/about" %></div>
    </div>
  </div>
</footer>