<header id="navigation" class="closed">
  <nav id="menu" role="navigation">
    <a href="#about">
      <span>about</span>
      <div><%= render "icons/about" %></div>
    </a>
    <a href="#history">
      <span>history</span>
      <div><%= render "icons/history" %></div>
    </a>
    <a href="#work">
      <span>work</span>
      <div><%= render "icons/work" %></div>
    </a>
    <a href="#contact">
      <span>contact</span>
      <div><%= render "icons/contact" %></div>
    </a>
  </nav>
  
  <div id="nav-burger-container">
    <div class="burger">
      <i></i>
      <i></i>
      <i></i>
    </div>
  </div>
  
  <!--<div id="burger" class="lines">-->
  <!--  <i></i>-->
  <!--  <i></i>-->
  <!--  <i></i>-->
  <!--</div>-->
</header>
